* {
    padding: 0;
    margin: 0;
}

.section-contact {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    gap: 30px;
    /*background-color: yellow;*/
}

/*-------we style here the contact form with the className (section-contact-form)-------*/

.section-contact-form {
    width: 42%;
    height: 65%;
    margin-top: 50px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid #dedcdc;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.section-contact-form h1{
    font-size: 25px;
    margin-top: 30px;
}

.name1 {
    width: 70%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: Poppins;
    margin-left: 100px;
    /*background-color: pink;*/
}

.email1 {
    width: 70%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: Poppins;
    margin-left: 100px;
    /*background-color: dodgerblue;*/
}

.phone-number1 {
    width: 70%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: Poppins;
    margin-left: 100px;
    /*background-color: #ff7e00;*/
}

.phone-number1::-webkit-inner-spin-button,
.phone-number1::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.textarea1 {
    width: 70%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: Poppins;
    margin-left: 100px;
    /*background-color:#9a9a9a;*/
}

/*input[type=number]::-webkit-inner-spin-button,*/
/*input[type=number]::-webkit-outer-spin-button {*/
/*    -webkit-appearance: none;*/
/*    -moz-appearance: none;*/
/*    appearance: none;*/
/*}*/

.errors-style {
color: red;
margin-left: 100px;
font-size: 12px;
padding: 5px;
width: 70%;
    border: 1px solid red;
}


.section-contact-form form .schrijven {
    height: 100px;
}

.section-contact-form button[type=submit] {
    background-color: #02be6e;
    color: white;
    padding: 12px 21px;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 260px;
    margin-top: 40px;
}

.section-contact-form button[type=submit]:hover {
    background-color: #028f53;
}

/*-------we style here the text of the contact form named (section-contact-text)---*/

.section-contact-text {
    /*width: 300px;*/
    height: 72vh;
    margin-top: 50px;
    background-color: #008bff;
    width: 26%;
    border-radius: 20px;
}

.section-contact-text h {
    color: #effdf7;
    margin-left: 40px;
}

.section-contact-text p1 {
    margin-left: 40px;
    font-weight: bolder;
    color: white;

}

.section-contact-text p {
    margin-left: 40px;
    color: white;
}

.section-contact-text .icons-social-contact {
    display: flex;
    gap: 10px;
    /*font-size: 20px;*/
    color: white;
    text-decoration: none;
    list-style-type: none;
    margin-left: 90px;
    margin-top: 20px;
    color: white;
}

.section-contact-text .icons-social-contact li a i{
    color: white;
    font-size: 20px;
}

.section-contact-text .icons-social-contact li a i:hover{
    color: #c0dffb;
}

/*------media screen (992px)-----------------*/
/*----------------------------------------------*/

@media screen and (max-width: 999px) {

    .section-contact {
        width: 100%;
        height: 140vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*-------the contact form with the className (section-contact-form)-------*/

    .section-contact-form {
        width: 90%;
        height: 65vh;
        margin-top: -100px;
    }

    .section-contact-form input[type=text], select, textarea {
        width: 80%;
        margin-bottom: 16px;
        margin-left: 90px;
    }

    .section-contact-form input[type=email], select, textarea {
        width: 80%;
        margin-bottom: 16px;
        margin-left: 90px;
    }

    .section-contact-form button[type=submit] {
        margin-left: 360px;
        margin-top: 10px;
    }

    /*------- the contact form (section-contact-text)---*/

    .section-contact-text {
        width: 90%;
        height: 50vh;
        margin-top: 20px;
        padding-bottom: 20px;
    }

    .section-contact-text h {
        margin-left: 300px;
    }

    .section-contact-text p1 {
        margin-left: 300px;
    }

    .section-contact-text p {
        margin-left: 300px;
    }

    .section-contact-text .icons-social-contact {
        margin-left: 350px;
        margin-top: 20px;
        color: white;
    }

}

/*------media screen (576px)-----------------*/
/*----------------------------------------------*/

@media screen and (max-width: 576px) {
    .section-contact {
        width: 100%;
        height: 120vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        /*background-color: red;*/
        margin-top: 150px;
    }

    /*-------the contact form with the className (section-contact-form)-------*/

    .section-contact-form {
        width: 90%;
        height: 65vh;
        /*margin-top: -100px;*/
        background-color: white;
        border-radius: 20px;
        border: 1px solid #dedcdc;
    }

    .section-contact-form input[type=text], select, textarea {
        width: 80%;
        border: 1px solid #ccc;
        border-radius: 25px;
        margin-bottom: 16px;
        margin-left: 35px;
    }

    .section-contact-form input[type=email], select, textarea {
        width: 80%;
        border: 1px solid #ccc;
        border-radius: 25px;
        margin-bottom: 16px;
        margin-left: 35px;
    }

    .section-contact-form input[type=number], select, textarea {
        width: 80%;
        border: 1px solid #ccc;
        border-radius: 25px;
        margin-bottom: 16px;
        margin-left: 35px;
    }

    .section-contact-form button[type=submit] {
        padding: 12px 21px;
        font-weight: bold;
        margin-left: 140px;
        margin-top: 10px;
    }

    /*------- the contact form (section-contact-text)---*/

    .section-contact-text {
        width: 90%;
        height: 47vh;
        margin-top: 20px;
        /*padding-bottom: 20px;*/
    }

    .section-contact-text h {
        color: #effdf7;
        margin-left: 40px;
    }

    .section-contact-text p1 {
        margin-left: 40px;
        font-weight: bolder;
        color: white;
    }

    .section-contact-text p {
        margin-left: 40px;
        color: white;
    }

    .section-contact-text .icons-social-contact {
        display: flex;
        gap: 10px;
        /*font-size: 20px;*/
        color: white;
        text-decoration: none;
        list-style-type: none;
        margin-left: 110px;
        margin-top: 20px;
        color: white;
    }

    .errors-style {

        margin-left: 30px;
    }

}